* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #333;
}

#wrapper {
    width: 800px;
    height: 560px;
    margin: auto;
    border: 1px solid black;

}

#header {
    width: 800px;
    height: 80px;
    background-color: #f39;
}

/*     menu    */
#menu {

    margin-top: 10px;
    margin-bottom: 10px;
    width: 776px;
    margin-left: 13px;
    height: 60px;
    background-color: #1f568b;

}

#menu ul {
    list-style-type: none;
    text-align: center;
    padding-top: 9px;

}

#menu ul li {
    color: #f1f1f1;
    display: inline-table;
    width: 120px;
    height: 40px;
    line-height: 40px;
    /*position: relative;*/

}

#menu ul li a {
    text-decoration: none;
    color: #f1f1f1;
    display: block;
}

#menu ul li a:hover {
    background-color: #f1f1f1;
    color: #333;
}

#menu ul li > .sub-menu {
    display: none;
    /*position: absolute;  */
}

#menu ul li:hover .sub-menu {
    display: block;
    background-color: #1f568b;;

}


/*   menu  doc   */
#left {
    width: 160px;
    height: 400px;
    float: left;
    background-color: #ff253a;
}

#left ul {
    background-color: #8ad385;
    padding: 0;
    list-style-type: none;
}
#left ul li{
    font-size: 12px;
    width: 135px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 1em;
    position: relative;
}
#left ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display:block;
}
#left ul li:hover {
    background-color: #cde2cd;
}
#left .sub_menu_doc{
    position: absolute;
    left: 160px;
    top: 0;


}
#left ul li > .sub_menu_doc {
    display: none;
}
#left ul li:hover .sub_menu_doc{
    display: block;

}
/*   menu  doc   */

#box_content {
    width: 400px;
    height: 400px;
    background-color: #6c3;
    float: left;
    margin-left: 22px;
}

#content_top {
    width: 100%;
    height: 238px;
    background-color: blueviolet;
}

#content_bot {
    width: 100%;
    height: 149px;
    margin-top: 13px;
    background-color: khaki;
}

#right {
    width: 200px;
    height: 400px;
    background-color: #f96;
    float: left;
    margin-left: 18px;
}

#right_top {
    width: 100%;
    height: 238px;
    background-color: chocolate;
}

#right_bot {
    width: 100%;
    height: 149px;
    background-color: maroon;
    margin-top: 13px;
}