<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Blog</title>
</head>
<body>
<h1>Delete Blog</h1>
<p>
    <a href="/list-blog">Back to list blog</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/delete-blog}" method="post" th:object="${blog}">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Title</td>
            <td><input type="text" th:field="*{title}"></td>
        </tr>
        <tr>
            <td>Image</td>
            <td><input type="text" th:field="*{image}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="delete"></td>
        </tr>
    </table>

</form>
</body>
</html>