<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style th:replace="home :: style"></style>
    <style>
        .container {
            width: 400px;
            float: right;
            margin-right: 420px;
        }

        .nav-left {
            float: left;
        }

        .error {
            color: red;
        }


    </style>

</head>
<body>
<div class="header" th:replace="home :: menu"></div>
<div class="nav-left" th:replace="home :: nav-left"></div>

<!--create-form-->
<div class="container">
    <h1>Create new Contract Detail</h1>
    <form th:action="@{/create-contract-detail}" method="post" th:object="${contractDetail}">
        <h1 style="color: chocolate">Create New Contract Detail</h1>
        <div class="form-group">
            <label for="exampleInputEmail1">Quantity</label>
            <input type="text" th:field="*{quantity}" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="form-group">
            <label >Accompany service</label>
            <select th:field="*{accompanyService}">
                <option th:text="${aS.getName()}" th:value="${aS.getId()}" th:each="aS:${accompanyServices}"></option>
            </select>
        </div>
        <div class="form-group">
            <!--            <p class="error" th:if="${#fields.hasErrors('phoneNumber')} " th:errors="*{phoneNumber}"></p>-->
            <label >Contract Id</label>
            <select th:field="*{contract}">
                <option th:text="${c.getId()}" th:value="${c.getId()}" th:each="c:${contracts}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>