<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style th:replace="home :: style"></style>
    <style>
        .container {
            float: right;
            width: 70em;
            margin-top: 75px;
        }

        .nav-left {
            float: left;
        }
    </style>
</head>
<body>
<div class="header" th:replace="home :: menu"></div>
<div class="nav-left" th:replace="home :: nav-left"></div>

<!--list-Customer-->
<h1>Edit Service</h1>
<div class="container">
    <th:block th:if="${message}">
        <p style="color: red" th:text="${message}"></p>
    </th:block>
    <form action="/edit-service" method="post" th:object="${service}">
        <table class="table table-sm">
            <input type="hidden" th:field="*{id}">

            <tbody>
            <tr>
                <th scope="row">Area</th>
                <td><input type="text" th:field="*{area}"></td>
            </tr>
            <tr>
                <th scope="row">Floor Amount</th>
                <td><input type="text" th:field="*{floorAmount}"></td>
            </tr>
            <tr>
                <th scope="row">free Accompany Service</th>
                <td>
                    <select th:field="*{freeAccompanyService}">
                        <option value="karaoke">Karaoke</option>
                        <option value="massage">Massage</option>
                        <option value="food">Food</option>
                        <option value="drink">Drink</option>
                        <option value="rent car">Rent Car</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row">Maximum people</th>
                <td><input type="text" th:field="*{maximumPeople}"></td>
            </tr>
            <tr>
                <th scope="row">Other convenience description</th>
                <td><input type="text" th:field="*{otherConvenienceDescription}"></td>
            </tr>
            <tr>
                <th scope="row">Room Standard</th>
                <td><input type="text" th:field="*{roomStandard}"></td>
            </tr>
            <tr>
                <th scope="row">Status</th>
                <td>
                    <select th:field="*{status}">
                        <option value="available">Available</option>
                        <option value="over">Over</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row">Rent type</th>
                <td>
                    <select th:field="*{rentType}">
                        <option th:each="list:${rentTypes}" th:text="${list.getName()}"
                                th:value="${list.getId()}"></option>
                    </select>
                </td>

            </tr>
            <tr>
                <th scope="row">Service Type</th>
                <td>
                    <select th:field="*{serviceType}">
                        <option th:each="list:${ServiceTypes}" th:text="${list.getName()}"
                                th:value="${list.getId()}"></option>
                    </select>
                </td>

            </tr>


            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Edit Service</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>