<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="app">
    <form th:object="${blog}" method="post"
          action="/blog-create">
        <table>
            <tr>
                <td><input type="hidden" th:field="*{id}"/></td>
            </tr>
            <tr>
                <td><label>Date created</label></td>
                <td><input type="datetime-local" th:field="*{dateCreated}"/></td>
            </tr>
            <tr>
                <td><label>Content</label></td>
                <td><input type="text" th:field="*{content}"/></td>
            </tr>
            <tr>
                <td><label>Title</label></td>
                <td><input type="text" th:field="*{title}"/></td>
            </tr>
            <tr>
                <td>
                    <select th:field="*{category}">
                        <option th:each="cat:${categories}" th:text="${cat.getName()}"
                                th:value="${cat.getId()}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Create"/> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>